In [10]:
#Pandas' Tutorial : A library for handling datastructures in python
import pandas as pd

import numpy as np #library for mathematical computions number,lists etc

In [13]:
#pandas work on dataframes, so we need create a data frame \n 
#from our data before doing any operations.
#Dataframe = similar to structure of a table(like a matrix)

a_matrix = np.random.rand(3,4)
a_matrix

array([[0.70877434, 0.43858186, 0.52981708, 0.95248139],
       [0.05945697, 0.75051741, 0.53027544, 0.85838749],
       [0.234073  , 0.4698625 , 0.80588955, 0.61179823]])

In [16]:
#create dataframe from the matrix
df = pd.DataFrame(a_matrix,columns=['A','B','C','D'])
print(df)
#also can be created using python dictionaries
df1 = pd.DataFrame({"A":[1,2],"B":[3,4]})
print(df1)
#Also can be loaded from a file..we will see later

          A         B         C         D
0  0.708774  0.438582  0.529817  0.952481
1  0.059457  0.750517  0.530275  0.858387
2  0.234073  0.469863  0.805890  0.611798
   A  B
0  1  3
1  2  4

In [17]:
#Checking datatypes inside a dataframe
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [18]:
#for column names
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
#for all values
df.values

array([[0.70877434, 0.43858186, 0.52981708, 0.95248139],
       [0.05945697, 0.75051741, 0.53027544, 0.85838749],
       [0.234073  , 0.4698625 , 0.80588955, 0.61179823]])

In [22]:
#head will give top 5 rows or pass parameter no of rows
df.head()
df.head(1)

          A         B         C         D
0  0.708774  0.438582  0.529817  0.952481

In [24]:
#tailing rows 
df.tail()
df.tail(1)

          A         B        C         D
2  0.234073  0.469863  0.80589  0.611798

In [26]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
#describe the df to see mean,max,standard deviation etc
df.describe()

              A         B         C         D
count  3.000000  3.000000  3.000000  3.000000
mean   0.334101  0.552987  0.621994  0.807556
std    0.336017  0.171780  0.159258  0.175938
min    0.059457  0.438582  0.529817  0.611798
25%    0.146765  0.454222  0.530046  0.735093
50%    0.234073  0.469863  0.530275  0.858387
75%    0.471424  0.610190  0.668082  0.905434
max    0.708774  0.750517  0.805890  0.952481

In [28]:
#data sorting axis:0 column, axis 1 rows, then ascending or descending
df.sort_index(axis=0,ascending=True)

          A         B         C         D
0  0.708774  0.438582  0.529817  0.952481
1  0.059457  0.750517  0.530275  0.858387
2  0.234073  0.469863  0.805890  0.611798

In [29]:
#sort by column
df.sort_values(by='A')

          A         B         C         D
1  0.059457  0.750517  0.530275  0.858387
2  0.234073  0.469863  0.805890  0.611798
0  0.708774  0.438582  0.529817  0.952481

In [30]:
#Select data
#Select a column
df['A']

0    0.708774
1    0.059457
2    0.234073
Name: A, dtype: float64

In [36]:
#df [rownum:rownum] select rows
df[0:1]

          A         B         C         D
0  0.708774  0.438582  0.529817  0.952481

In [41]:
#df.loc select particular value of a column
#0 th row A and B column
df.loc[0,['A','B']]

A    0.708774
B    0.438582
Name: 0, dtype: float64

In [44]:
#Also can be used get the exact row and column value
#df.iloc can also be used with position values
df.at[0,'A']

0.7087743429045346

In [45]:
#Data selections
df[df.A>0.5]

          A         B         C         D
0  0.708774  0.438582  0.529817  0.952481

In [46]:
#Replace values with na or
df2 = df[df<.5]

In [47]:
df2

          A         B   C   D
0       NaN  0.438582 NaN NaN
1  0.059457       NaN NaN NaN
2  0.234073  0.469863 NaN NaN

In [48]:
#drop the rows : 
df2.dropna()
df2

          A         B   C   D
0       NaN  0.438582 NaN NaN
1  0.059457       NaN NaN NaN
2  0.234073  0.469863 NaN NaN

In [50]:
#replaced NAN with other values
df2.fillna(value=1)

          A         B    C    D
0  1.000000  0.438582  1.0  1.0
1  0.059457  1.000000  1.0  1.0
2  0.234073  0.469863  1.0  1.0

In [52]:
#mean of column or rows axis =0 column, axis=1 rows
df.mean(0)

A    0.334101
B    0.552987
C    0.621994
D    0.807556
dtype: float64

In [ ]:
#reading a file
pd.read_csv("FileName")